<html>
  <head>
    <title>HAIR SALON</title>
    <style>
      nav a { margin: 0 5 0 5px; padding: 4 4 4 4px; font-size: 15px; border: 2px solid blue;}
      nav {margin: 0 0 15 0px;}
    </style>
  </head>
  <body>
    <h1 style="size: 50;">Death Note fan page! (Just kidding, its Hair Salon)</h1>

    <nav>
      <a href="/"> Home </a> <a href="/clients"> Clients Page </a> <a href="/stylists"> Stylists Page </a>
    </nav>

    <img src="http://orig10.deviantart.net/3251/f/2012/141/9/a/delete_delete_by_missanimestranger-d50k8td.png">
    <img src="http://s3.amazonaws.com/viz-test/products/deathnote_s1v1.jpg">
  </body>
</html>
